@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="my-4">User List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@user.PhoneNumber</td>
                <td>
                    @if (user.Roles != null && user.Roles.Any())
                    {
                        @foreach (var role in user.Roles)
                        {
                            <span class="badge bg-primary">@role</span>
                        }
                    }
                    else
                    {
                        <span class="badge bg-secondary">User</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
