@model e_commerce_platform.Models.UserInfoViewModel

<br /><br />
<section class="basket-area section-gap">
    <div class="container">
<h2>User Information</h2>

<div>
    <label>Full Name:</label>
    <span>@Model.FullName</span>
</div>

<div>
    <label>Email:</label>
    <span>@Model.Email</span>
</div>

<div>
    <label>Phone Number:</label>
    <span>@Model.PhoneNumber</span>
</div>
</div>
</section>


